@use "./partials/mixins" as *;

.app {
  text-align: center;
  box-sizing: border-box;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, #17093F 0%, #ffffff 100%);

  &__form {
    display: flex;
    height: 2.2rem;
    justify-content: center;
    margin:20px 100px;

  }
  
  &__search {
        height: 100%;
        width: 80%;
        padding: 0;
    border: none;
    background-color: #E8E8E8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__button {
    margin-left: 0;
    padding-right:10px;
    padding-left:10px;

    height: 100%;
    background-color: #0077E5;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
  
  &__text{
    &-content{
      color: white;
      font-weight: 500;
      font-size: 20px;
      padding-top: 20px;
      position: relative;
      top: 10px;
    }
  }
  &__body-text{
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
  }

  &__chartData{
    @include flex-row{
      justify-content: space-evenly;
      height: 500px;
      width: 100%;
    }
    margin-top: 5rem;
    padding: 7rem;
  }
  &__pieChart{
    width: 300px;
  }
  &__chart{
      &-text{
      width: 20vw;
      align-self: flex-end;
      font-weight: bold;
      margin-bottom: 7rem;
      color: rgb(73, 64, 64);
    }
    &-span{
      color: black;
      font-weight: bold;
      font-size: 3rem;
      opacity: 1;
    }
  }
}


