@use "./partials/mixins" as *;

.app {
  text-align: center;
  box-sizing: border-box;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, #17093F 0%, #6FBEE6 55%, #ffffff 100%);

  &__form {
    display: flex;
    height: 2.2rem;
    justify-content: center;
    margin:20px 100px;
  }
  
  &__search {
        height: 100%;
        width: 50%;
        padding-left: 1rem;
    border: none;
    background-color: #E8E8E8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 3rem;


  }
  &__button {
    margin-left: 0;
    padding-right:2rem;
    padding-left:2rem;
    height: 3rem;

    background-color: #0077E5;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
  
  &__text{
    align-self: baseline;
    &-content{
      color: black;
      font-weight: 500;
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative;
      top: 10px;
    }
  }
  &__body-text{
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    opacity: 0.6;
  }

  &__chartData{
    @include flex-row{
      justify-content: space-evenly;
      height: 500px;
      width: 100%;
      display: none;
      background: linear-gradient(180deg, #ffffff 0%, #F3F3FB 100%);

      @include tablet {
        display: flex;
      }
    }
    
    background-color: white;
    margin-top: 1rem;
    padding: 7rem;
  }
  &__pieChart{
    width: 20vw;
  }
  &__chart{
      &-text{
        display: flex;
        flex-direction: column;
      width: 20vw;
      align-self: flex-end;
      font-weight: bold;
      margin-bottom: 4.5rem;
      color: rgb(73, 64, 64);
    }
    &-span{
      color: black;
      font-weight: bold;
      font-size: 3rem;
      opacity: 1;
      display: block;
      margin: 2rem 0;
    }
  }
}

.barchart {
  height: 200px;
}

.white {
  background-color: #F3F3FB;
  padding: 70px 0;
  padding-bottom: 130px;

  &__subtitle{
    font-size: 3rem;
    padding: 30px 0 ;
  }
}