@use "../../partials/mixins" as *;

.header{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {

    @include flex-row{
     justify-content:space-between;
    }
}

    &__logo {
        width: 130px;
        position: relative;
        bottom: 18px;
    }
    &__search{
        @include btn{
            background-color: #8FB9E0;
            padding: 1.25rem;
            width: 10rem;
            border-radius: 50px;
        }
    }
}