@use "../../partials/mixins" as *;


.hero{
    @include flex-row{
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5rem;
    }
    &__left{
        text-align: left;
        color: white;
        height: 20vh;
    }
    &__text{
        max-width: 50%;
    }

    &__button{
        @include btn{
            background-color: #0077E5;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
}