@use "../../partials/mixins" as *;

.search{
    width: 80%;
    margin: 0 auto;
    &__title{
        color: white;
        font-size: .85rem;
        padding: 5rem 0;
    }
    &__subtitle{
        font-size: 1.2rem;
    }
}