// Color variables
$black: #323232;
$darkblack: #000000;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$white: white;
$alabaster: #FAFAFA;
$blue: #0095FF;
$darkblue: #0065AD;


// Breakpoint variables

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Created variables for certain spacing sizes that had to be experimented with a lot, or may be a target for changes in the future

$nonmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;

// Increments of 16px

$sixteen: 16px;